{:lein true
 :builds {:app {:target :browser
                :output-dir "example/resources/public/js/compiled"
                :asset-path "/js/compiled"
                :modules {:main {:init-fn via-auth.example.core/init}}
                :compiler-options {:infer-externs :auto}}}}
